/*terraform*
!/terraform.tfvars.example
/*.tfstate
/*.tgz*
/*.tar.gz*
/*.tar*
/*tmp*
/account.json*
/credentials.json*
/packer_service_account_key.json*
/terraform_service_account_key.json*
/files/users/*
!/files/users/.gitkeep
!/files/users/aaa_users_template.yml.example
!/files/users/README.md
/*.tf_
/.tfcontext/*
!/.tfcontext/config.yml.example
!/.tfcontext/README.md
/remotestate.tf
!/terraform_unique.tfvars.example
